


# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# frontend
frontend/.angular/cache
frontend/node_modules/
frontend/node_modules/*
frontend/npm-debug.log
frontend/yarn-error.log
frontend/dist
frontend/environment.ts

# backend
backend/node_modules/
backend/node_modules/*
backend/config.json
backend/certificates/
