#navbar{
    width: 100%;
    position: static;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--accent-background);
    color: var(--accent-foreground);
}


#navbar>a{
    color: var(--accent-foreground);
    text-decoration: none;
    padding: 1em;
}

#navbar>*:hover{
    cursor: pointer;
}

#navbar>a:hover, #navbar>a:active{
    background-color: var(--active-background);
    color: var(--active-foreground);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

#navbar>a.active{
    background-color: var(--active-background);
    color: var(--active-foreground);
}


#search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

#search-bar>*{
    display: flex;
    font-size:0.9rem;
    padding: 0.5rem;
}

#search-bar>select:hover, #search-bar>button:hover{
    background-color: var(--active-background);
    color: var(--active-foreground);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}   


#search-bar>select{
    border:0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--accent-foreground);
    color: var(--accent-background);
    cursor:pointer;
}
#search-bar>input{
    border:0px;
    border-radius: 0px;
    background-color: var(--document-background);
    color: var(--accent-foreground);
    min-width: 20rem;
}
#search-bar>button{
    border:0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--accent-foreground);
    color: var(--accent-background);
}