<div class="rows">
    <app-cardlist [sourceFunction]="movies.getPopular.bind(movies)" [title]="'Popular Movies'" [type]="'movies'"></app-cardlist>
    <app-cardlist [sourceFunction]="shows.getPopular.bind(shows)" [title]="'Popular TV Shows'" [type]="'shows'"></app-cardlist>
    <app-cardlist [sourceFunction]="movies.getTop.bind(movies)" [title]="'Top Rated Movies'" [type]="'movies'"></app-cardlist>
    <app-cardlist [sourceFunction]="shows.getTop.bind(shows)" [title]="'Top Rated TV Shows'" [type]="'shows'"></app-cardlist>
</div>
